<form style="display: flex; flex-direction: column; margin: auto; width: 20%;" ngForm #form="ngForm"
    (submit)="submit(form)" class="example-container">
    <h1 style="text-align: center;">Login</h1>

    <h2 *ngIf="!!errorMsg" style="color: red">{{errorMsg}}</h2>

    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input type="password" matInput [(ngModel)]="password" required name="password">
    </mat-form-field>

    <button mat-button mat-raised-button type="submit">Login</button>
</form>